.venv
compiler_service/.venv

**/__pycache__
*.py[cod]
*~
*.log

.git
.gitignore

db.sqlite3
compiler_service/db.sqlite3
**/*.sqlite3

.env
.env.local

.vscode
.idea

oj/staticfiles/
README.md
.python-version
uv.lock