<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="nav">
        <div class="nav-logo">
            OJ
        </div>

        <!-- Nav Bar -->
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="{% url 'core:home' %} " class="link active">Home</a>
                </li>
                <li>
                    <a href="{% url 'core:problems' %}" class="link">All Problems</a>
                </li>
                <li>
                    <a href="{% url 'contests:leaderboard' %}" class="link">Leaderboard</a>
                </li>
                <li>
                    <a href="{% url 'contests:contest' %}" class="link">Contest</a>
                </li>
            </ul>
        </div>


        <div class="nav-button">
            <a href="{% url 'user_auth:logout' %}" class="btn" id="LogoutBtn">Logout</a>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="nav-user">
        <span>Welcome, {{ user.username }}</span>
    </div>

    <h1>Welcome, {{ user.first_name }}</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Mobile: {{ user.mobile_no }}</p>
    <a href="{% url 'user_auth:logout' %}">Logout</a>
    {% else %}
    <h1>Please log in to access your dashboard.</h1>
    <a href="{% url 'user_auth:login' %}">Login</a>
    {% endif %}

</body>

</html>