<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav">
        <div class="nav-logo">
            OJ
        </div>

        <!-- Nav Bar -->
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="home.html" class="link">Home</a>
                </li>
                <li>
                    <a href="problems.html" class="link">All Problems</a>
                </li>
                <li>
                    <a href="leaderboard.html" class="link active">Leaderboard</a>
                </li>
                <li>
                    <a href="contests.html" class="link">Contest</a>
                </li>
            </ul>
        </div>

        <div class="nav-button">
            <button type="button" class="btn" id="loginBtn">Sign In</button>
            <button type="button" class="btn white-btn" id="signupBtn" href="signup.html">Sign Up</button>
        </div>
    </div>


</body>

</html>